<a href="https://colab.research.google.com/github/alfaruqks/uas/blob/main/datairis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Materi Hari Ini adalah mengelola data tabel dengan library  pandas

2. Import Data Frame

data frame adalah struktur data 2 deminsi yang berbentuk tabular (Mempunyai baris dan kolom). Hampir semua data memiliki tidak hanya memiliki satu kolom,sehingga lebih cocok menggunakan pandas dataframe dalam mengelolanya.

penggunaan variabel dataframe pada data python biasanya menggunakan syntaks.

In [5]:
import pandas as pd

3.mengelola dataframe

In [6]:
[2] # panggil file (irish.csv). lalu tampilkan dataset menggunakan data head()

df = pd.read_csv("iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
[3] # Tampilkan tipe data dari kolom yang ada pada dataset menggunakan dtypes
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Tipe data kolom yang ada di dataset:

 1.kolom"id" memiliki tipe data = integer(int64)

 2.kolom"spallenghtCm" memiliki tipe data = float (float64)
 
 3.kolom"species" memiliki tipe data = object (object)

In [8]:
#hitung ukuran (jumlah baris dan kolom) dari dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
# Tampilkan data untuk kolom "id" dan kolom "species" dalam bentuk dataframe
df[["Id","Species"]]

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [10]:
# Tampilkan data baris indeks ke-0 (nol) sampai dengan indeks ke-9 (sembilan)
df.iloc[:10]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [11]:
# Tampilkan data hanya kolom "Id" dan kolom "species"
# Tampilkan dengan indeks ke-15 (limabelas)
df[["Id","Species"]].iloc[11:16]

    Id      Species
11  12  Iris-setosa
12  13  Iris-setosa
13  14  Iris-setosa
14  15  Iris-setosa
15  16  Iris-setosa

In [12]:
# Tampilkan data 8 baris pertama
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [13]:
# Tampilkan data 3 baris akhir
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
# Hitungan nilai mean dari dataset
df.mean()

<ipython-input-14-1d18b8a6e184>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [15]:
# Hitung nilai mean untuk kolom petallenght
df["PetalLengthCm"].mean()

3.758666666666666

In [17]:
# Cari nilai minimal untuk kolom SepalWidthCm
df["SepalWidthCm"].min()

2.0

In [18]:
# Hitung Frekuensi pada kolom Species dengan menggunakan metode value_counts()
df["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [26]:
# Tampilkan perhitungan frekuensi pada kolom species dengan menggunakan value_counts() dalam dataframe
dfValueCountsSpecies = df["Species"].value_counts().rename_axis('Species Value Counts').reset_index(name='Counts') 
dfValueCountsSpecies

  Species Value Counts  Counts
0          Iris-setosa      50
1      Iris-versicolor      50
2       Iris-virginica      50

In [29]:
# Hitung frekuensi pada kolom PetalLenght dengan menggunakan value_counts() dalam dataframe
dfValueCountsPetalLengthCm = df["PetalLengthCm"].value_counts().rename_axis('PetalLengthCm Value Counts').reset_index(name='Counts') 
dfValueCountsPetalLengthCm

    PetalLengthCm Value Counts  Counts
0                          1.5      14
1                          1.4      12
2                          5.1       8
3                          4.5       8
4                          1.6       7
5                          1.3       7
6                          5.6       6
7                          4.7       5
8                          4.9       5
9                          4.0       5
10                         4.2       4
11                         5.0       4
12                         4.4       4
13                         4.8       4
14                         1.7       4
15                         3.9       3
16                         4.6       3
17                         5.7       3
18                         4.1       3
19                         5.5       3
20                         6.1       3
21                         5.8       3
22                         3.3       2
23                         5.4       2
24                         6.7       2
25                         5.3       2
26                         5.9       2
27                         6.0       2
28                         1.2       2
29                         4.3       2
30                         1.9       2
31                         3.5       2
32                         5.2       2
33                         3.0       1
34                         1.1       1
35                         3.7       1
36                         3.8       1
37                         6.6       1
38                         6.3       1
39                         1.0       1
40                         6.9       1
41                         3.6       1
42                         6.4       1